<!-- Heading -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">ARIA Demos !!</h1>
            <p class="lead text-center">Kore.ai Named a Leader in 2022 Gartner® Magic Quadrant™ for Enterprise
                Conversational AI Platforms. So We have built few demos leveraging the exceptional nlp capabilities of
                Kore.ai to solve some of the real world problems. Check below for some of them!</p>
        </div>
    </div>
</div>

<!-- Featured Products -->
<div class="container">
    <h1 class="text-center">World Class Products</h1>
    <div class="row">

        <!-- Product 1 -->
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail featured-product">
                <a href="#">
                    <img src="assets/img/360-virtual-tour.jpg" alt="">
                </a>
                <div class="caption">
                    <h3>Virtual Tour : PropTech</h3>
                    <p>Get the tour of your desired property virtually.</p>
                    <!-- Input Group -->
                    <div>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" >
                                <a routerLink="/vt" >Virtual Tour</a>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product 2 -->
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail featured-product">
                <a href="#">
                    <img src="assets/img/3d interior.jpg" alt="">
                </a>
                <div class="caption">
                    <h3>3D Interior : PropTech</h3>
                    <p>Get immersive 3D view of your property interiors even before they are actually made.</p>

                    <!-- Input Group -->
                    <div>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" >
                                <a routerLink="/interior" >3D Interior Design</a>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product 3 -->
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail featured-product">
                <a href="#">
                    <img src="assets/img/3d health.png" alt="">
                </a>
                <div class="caption">
                    <h3>Health / Edu</h3>
                    <p>Educates with 360 / 3D objects about Health and Education !
                        * Videos with change in audio tracks, languages in just one click *</p>

                    <!-- Input Group -->
                    <div>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" >
                                <a routerLink="/health" >Health and Education</a>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product 4 -->
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail featured-product">
                <a href="#">
                    <img src="assets/img/study bot.jpg" alt="">
                </a>
                <div class="caption">
                    <h3>Study Bot AI </h3>
                    <p>Revolutionize the way we learn. Converts texts in to very interactive Narrations on a single
                        click.</p>

                    <!-- Input Group -->
                    <div>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" >
                                <a routerLink="/study" >Study Narration AI</a>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container text-center">
    <h1>Who am I ?</h1>
    <p class="lead">I am passionate Data Scientist expertise in NLP, ML and AI. I strongly believe in building
        prototypes and apps for solving
        real world problems. For more information get in touch with me at : https://www.linkedin.com/in/yeshwanthsai/
    </p>
    <img class="img-responsive img-circle center-block" src="assets/img/yesh.jpg" alt="">
</div>


<!-- Footer -->
<footer>
    <h1 class="text-center">Yesh</h1>

    <!-- Footer Links -->
    <div class="footer-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 footer-info-item">
                    <h3>More Information</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 footer-info-item">
                    <h3>My other works</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Find My Properties</a></li>
                        <li><a href="#">Proptour</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Github</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 footer-info-item">
                    <h3><span class="glyphicon glyphicon-list-alt"></span> Latest updates and News</h3>
                    <p>Sign up for exclusive information.</p>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email address">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                Subscribe!
                            </button>
                        </span>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>

    <!-- Copyright etc -->
    <div class="small-print">
        <div class="container">
            <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
            <p>Copyright &copy; Yesh </p>
        </div>
    </div>

</footer>

<!-- bot -->
